@using Workflow.Basic.Presentation.Extensions;
@using Workflow.Basic.Presentation.Resources.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/mvcNotify.js")" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="mvcNotify" style="display: none">
		@Html.RenderMessages()
	</div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (Request.IsAuthenticated) {
                @Html.Partial("_LayoutAuthorizePartial")
            } else {
                @Html.Partial("_LayoutAnonymousPartial")
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Workflow</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>